/* page styling */

html {
    scroll-behavior: smooth;
}

/* navbar styling */

.navbar {
    background-color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    height: 80px;
    transition: height 0.3s ease;
}

@media (max-width: 991.98px) {
    .navbar {
        height: auto;
    }
}

.navbar-collapse {
    padding-top: 10px;
}

.navbar-nav .nav-link {
    padding-bottom: 10px;
    position: relative;
    font-size: 19px;
    font-weight: 500;
    color: black;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
}

  
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}
  
.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.navbar-images {
    margin-left: auto;
}

.navbar-images img {
    max-width: 85px;
    height: auto;
    margin-left: auto;
}

a:link {
    text-decoration: none;
}

.navbar-images a img {
	transition: transform 0.3s ease;
}

.navbar-images a:hover img {
	transform: translate(-5px, -5px);
	opacity: 1;
}

/* navbar styling ends */

/* home styling */

.container-fluid {
    text-align: center;
}

#home h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-style: oblique;
    margin-top: 15rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

/* home styling ends */

